<%= form_for(@pm_comment) do |f| %>
    <% if @pm_comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pm_comment.errors.count, "error") %> prohibited this pm_comment from being saved:</h2>

          <ul>
            <% @pm_comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :content %>
      <br>
      <%= f.text_area :content %>
    </div>
    <div class="field">
      <%= f.label :comment_time %>
      <br>
      <%= f.datetime_select :comment_time %>
    </div>
    <div class="field">
      <%= f.label :user_id %>
      <br>
      <%= f.number_field :user_id %>
    </div>
    <div class="field">
      <%= f.label :resource_id %>
      <br>
      <%= f.text_field :resource_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
