<%= javascript_include_tag "lazy_high_charts/highcharts", "lazy_high_charts/exporting", "lazy_high_charts/highcharts-more" %>
<%= hidden_field_tag(:year, params[:year]) %>
<%= hidden_field_tag(:month, params[:month]) %>
<%= hidden_field_tag(:ent_id, params[:ent_id]) %>


<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-sm-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <%= render('analysis_spaces/line', line: @attr38, name: @name38) %>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <%= render('analysis_spaces/line', line: @speed38, name: @speed_name38) %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="ibox float-e-margins">
        <div class="ibox-title">
          <%= render('analysis_spaces/line', line: @attr39, name: @name39) %>
        </div>
      </div>
    </div>


  <div class="col-sm-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= render('analysis_spaces/line', line: @speed39, name: @speed_name39) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= render('analysis_spaces/line', line: @attr40, name: @name40) %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= render('analysis_spaces/line', line: @speed40, name: @speed_name40) %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= render('analysis_spaces/line', line: @attr41, name: @name41) %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= render('analysis_spaces/line', line: @speed41, name: @speed_name41) %>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div class="col-sm-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= render('analysis_spaces/line', line: @attr42, name: @name42) %>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <%= render('analysis_spaces/line', line: @speed42, name: @speed_name42) %>
      </div>
    </div>
  </div>
</div>
</div>