<%= form_for(@pm_task) do |f| %>
    <% if @pm_task.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@pm_task.errors.count, "error") %> prohibited this pm_task from being saved:</h2>

          <ul>
            <% @pm_task.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :content %>
      <br>
      <%= f.text_field :content %>
    </div>
    <div class="field">
      <%= f.label :org_id %>
      <br>
      <%= f.number_field :org_id %>
    </div>
    <div class="field">
      <%= f.label :resource_id %>
      <br>
      <%= f.text_field :resource_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
