<%= button_div() do %>
    <%= bs_close %>
<% end %>
<div class="ibox-content">
  <%= form_show @fdn_legend do |legend| %>
      <div style="padding-right:10% ">
        <center><h3>
          <%= legend.row do %>
              <%= legend.show_method '', :title %>
          <% end %>
        </h3>
          <%= legend.row do %>
              <%= legend.show_content '', style: "font-size:12px" do %>
                  <%= '发布时间：' + @fdn_legend.created_at.strftime('%Y-%m-%d')+' 发布人：' + @fdn_legend.creator.org.short_name + '-'+ @fdn_legend.creator.full_name %>
              <% end %>
          <% end %>
        </center>
        <%= legend.row do %>
            <%= legend.show_content '', :style => "font-size:20px" do %>
                <%= @fdn_legend.content.html_safe if @fdn_legend.content %>
            <% end %>
        <% end %>
        <% if @fdn_legend.file.size != 0 %>
            <center>
              <%= table([{w: 4, t: '序号'}, {w: 8, t: '文件'}], show_seq: false) do %>
                  <% @fdn_legend.file.each do |file| %>
                      <%= table_tr({r: @fdn_legend.file.index(file)+1}, {l: (file.id != nil && file.ffx_file_size && file.ffx_file_size >= 0) ? link_to(file.ffx_file_name, file.ffx.url) : '空'}) %>
                  <% end %>
              <% end %>
            </center>
        <% end %>
      </div>
  <% end %>
</div>
