<p id="notice"><%= notice %></p>

<p>
  <strong>Post salary:</strong>
  <%= @hr_salary.post_salary %>
</p>

<p>
  <strong>Full attendance bonus:</strong>
  <%= @hr_salary.full_attendance_bonus %>
</p>

<p>
  <strong>Allowance:</strong>
  <%= @hr_salary.allowance %>
</p>

<p>
  <strong>Basic salary:</strong>
  <%= @hr_salary.basic_salary %>
</p>

<p>
  <strong>Performance standards:</strong>
  <%= @hr_salary.performance_standards %>
</p>

<p>
  <strong>Performance percent:</strong>
  <%= @hr_salary.performance_percent %>
</p>

<p>
  <strong>Pay for performance:</strong>
  <%= @hr_salary.pay_for_performance %>
</p>

<p>
  <strong>Overtime hours:</strong>
  <%= @hr_salary.overtime_hours %>
</p>

<p>
  <strong>Overtime pay:</strong>
  <%= @hr_salary.overtime_pay %>
</p>

<p>
  <strong>Holiday overtime hours:</strong>
  <%= @hr_salary.holiday_overtime_hours %>
</p>

<p>
  <strong>Holiday overtime pay:</strong>
  <%= @hr_salary.holiday_overtime_pay %>
</p>

<p>
  <strong>Total overtime pay:</strong>
  <%= @hr_salary.total_overtime_pay %>
</p>

<p>
  <strong>Gross salary:</strong>
  <%= @hr_salary.gross_salary %>
</p>

<p>
  <strong>Social insurance:</strong>
  <%= @hr_salary.social_insurance %>
</p>

<p>
  <strong>Housing fund:</strong>
  <%= @hr_salary.housing_fund %>
</p>

<p>
  <strong>Personal income tax:</strong>
  <%= @hr_salary.personal_income_tax %>
</p>

<p>
  <strong>Leave days:</strong>
  <%= @hr_salary.leave_days %>
</p>

<p>
  <strong>Leave:</strong>
  <%= @hr_salary.leave %>
</p>

<p>
  <strong>Late times:</strong>
  <%= @hr_salary.late_times %>
</p>

<p>
  <strong>Late:</strong>
  <%= @hr_salary.late %>
</p>

<p>
  <strong>Other deduction:</strong>
  <%= @hr_salary.other_deduction %>
</p>

<p>
  <strong>Total deduction:</strong>
  <%= @hr_salary.total_deduction %>
</p>

<p>
  <strong>Net salary:</strong>
  <%= @hr_salary.net_salary %>
</p>

<%= link_to 'Edit', edit_hr_salary_path(@hr_salary) %> |
<%= link_to 'Back', hr_salaries_path %>
